* {
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
}

html { 
    margin-left: 30px;
    margin-right: 30px;

}




p {
    text-align: justify;
}

header  {
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    
}

.logo img {
    border-radius: 50%;
    dorder:1px solid red;
}


nav { 
    background-color: rgb(44, 187, 44);
}

main { 
    background-color: rgb(185, 204, 142);
}

footer {
    background-color: rgb(172, 236, 232);
}

footer p { 
    text-align: center;
}

img {
    width: 100%;
    margin: auto;
}

.imagen { 
    width: 50%;
    background-color: rgb(216, 210, 210);
   /*  padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px; */
    padding: 30px 15px 20px 15px;
    border: 7px solid rgb(24, 24, 210);
    /* margin-top: 10px 20px 30px 40px; */
    margin: 40px auto;
    /* outline: 7px double; */
    box-shadow: 5px 10px 37px 21px rgb(144, 24, 229);
}
.color { 
    width: 50%;
    background-color: rgb(216, 210, 210);
   /*  padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px; */
    padding: 30px 15px 20px 15px;
    border: 7px solid rgb(24, 24, 210);
    /* margin-top: 10px 20px 30px 40px; */
    margin: 40px auto;
    /* outline: 7px double; */
    box-shadow: 5px 10px 37px 21px rgb(144, 24, 229);
}


h1 {
    color: rgb(49, 2, 2);
    text-shadow: 1px 11px 4px rgb(214, 180, 246);
    padding: 10px;
}

h2 {
    color: chocolate;
}


section > h2 {
    color: blue;
}

/* el signo mayor quiere decir hijo directo de... */

.imagen + p {

    color: blueviolet;
}

/* parrafo continuo a el img */

.bloque img {
    width: 250px;
    padding: 30px;
    display: block;
}

nav { padding: 10px;
    text-align: center;
}


nav a {
    background-color: cadetblue;
    border-radius: 30px;
    padding: 5px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    
}

nav a:hover {
    background-color: white;
    color: cadetblue;
    transition-delay: 0.5s;
}
